<!DOCTYPE html>
<html lang="en">
<head>
    <title>Matkaklubi - Admin</title>
    <%- include("./partials/header.ejs") %>
</head>
<body>
    <div class="container">
        <%- include("./partials/menyy.ejs")  %>
        <div id="admin-sisu" class="admin-sisu mt-3">
            siia tuleb admin leht
        </div>
    </div>
    <script src="/admin.js"></script>
</body>
</html>